doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../scss/main.css")
        title Document
    body 
        section.Navbar
            p.p1 GERICHT
        div.Nav    
            p Home
            p Pages
            p Contact Us
            p Blog
            p Landing
            button.but Landing  
        div.backround
            img.img1(src="../../assets/Mask Group.png", alt="")     
            img.img2(src="../../assets/TItle+ breadcrumb.png", alt="") 
        div.Hero
            img.img3(src="../../assets/Rectangle 30.png", alt="")         
        div.Input
            input.Input1(type="text" placeholder="Full Name")    
            input.Input2(type="text" placeholder="Full Name") 
            input.Input3(type="text" placeholder="Full Name")  
            button.but2 Subscribe     
            img.img4(src="../../assets/Group 43.png", alt="")
        div.Footer
            img.img5(src="../../assets/Group 83.png", alt="")
            img.img6(src="../../assets/content.png", alt="")
            img.img7(src="../../assets/Group 84.png", alt="")
        .Footer_item 
            p.p2 Contact Us    
            p.p3 9 W 53rd St, New York, NY 10019, USA
            p.p4 +1 212-344-1230<br>+1 212-555-1230
            p.p5 GERICHT
            p.p6 "The best way to find yourself is to lose yourself in the<br> service of others.”
            img.icon(src="../../assets/Social media.png", alt="")
            img.img8(src="../../assets/Frame 19.png", alt="")