doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../scss/_main.css")
        title Document
    body
        section.Home 
            img.img1(src="../../assets/img/Mask Group.png", alt="") 
            img.img2(src="../../assets/img/chef's word.png", alt="")
            .Hedear 
                p.p1 Testimony    
                p.p2 Happy Customers
            .Hero
               p.Lorem_item_1 Lorem ipsum dolor sit amet, consectetur adipiscing<br> sit. auctor sit iaculis in arcu. Vulputate nulla lobortis<br> mauris eget sit. Nulla scelerisque scelerisque congue.
               p.Lorem_item_1 Lorem ipsum dolor sit amet, consectetur adipiscing<br> sit. auctor sit iaculis in arcu. Vulputate nulla lobortis<br> mauris eget sit. Nulla scelerisque scelerisque congue.
               p.Lorem_item_1 Lorem ipsum dolor sit amet, consectetur adipiscing<br> sit. auctor sit iaculis in arcu. Vulputate nulla lobortis<br> mauris eget sit. Nulla scelerisque scelerisque congue.
               p.Lorem_item_1 Lorem ipsum dolor sit amet, consectetur adipiscing<br> sit. auctor sit iaculis in arcu. Vulputate nulla lobortis<br> mauris eget sit. Nulla scelerisque scelerisque congue.
        .Img_grid  
            img.img3(src="../../assets/img/Group 75.png", alt="") 
            img.img3(src="../../assets/img/Group 75.png", alt="") 
            img.img3(src="../../assets/img/Group 75.png", alt="") 
            img.img3(src="../../assets/img/Group 75.png", alt="") 
        .Kard 
            img.img4(src="../../assets/img/jason-leung-poI7DelFiVA-unsplash 1.png", alt="") 
            img.img5(src="../../assets/img/Play.png", alt="")   
        .Oxirgi_Page 
            p.p3 Awards & recognition    
            p.p4 Our Laurels
            img.Top(src="../../assets/img/top.png", alt="")
            img.Bottom(src="../../assets/img/bottom.png", alt="")
            img.img6(src="../../assets/Group 43.png", alt="")